<html>
<h1>DollarTime</h1>
<body>
<p>Hope everybody is doing well!!     Happy Hacking!!!</p>
<div id = "clock"><%= @currentTime.to_s %></div>
<br>
<p>Please Log in using facebook account</p>
</body>
</html>

<style>

html{
	text-align: center; 
}

</style>
